show_frame=true
fg_set=false
bg_set=false
timezone=Canada/Pacific
width_set=true
width=150
height_set=false
lines_vertically=true
rotation=0
data0=%a %b %d %-H:%m%p
font0=
tooltip=week: %V of %Y in %z
hib_timing=false

